<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
 	   http://www.springframework.org/schema/tx/spring-tx.xsd
 	   http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
      ">
	<context:property-placeholder location="classpath:web.properties" />
	<context:annotation-config />
	<!-- 不扫描controller,先载入service -->
	<context:component-scan base-package="com.github.shu1jia1,com.st">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="gloabeExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 核心线程数 -->
		<property name="corePoolSize" value="8" />
		<!-- 最大线程数 -->
		<property name="maxPoolSize" value="16" />
		<!-- 队列最大长度 >=mainExecutor.maxSize -->
		<property name="queueCapacity" value="10240" />
		<!-- 线程池维护线程所允许的空闲时间 -->
		<property name="keepAliveSeconds" value="300" />
		<property name="rejectedExecutionHandler">
			<bean
				class="com.github.shu1jia1.common.task.handler.reject.DiscardRejectedExecutionHandler" />
		</property>
	</bean>

	<bean id="stEventBus" class="com.google.common.eventbus.AsyncEventBus">
		<constructor-arg name="executor" ref="gloabeExecutor" />
	</bean>



</beans>  